@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
*{
  font-family: 'Nova Square';
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(circle, #3859ff9e 1px, transparent 0px); /*Creating a simple dot pattern with radial gradients*/
  background-size: 10px 10px; /* Controls the spacing between dots */
  background-color: #b0dbff; /* Fallback background color */
}
button{
  width: 50px;
  height: 50px;
  border-style: double;
  border-radius: 5px;
  color: rgb(103, 15, 15);
  background-color: #CCEFFE;
  box-shadow: 1px 1px rgb(176, 29, 53);
}
button:hover{
  transform: scale3d(0.98,0.98,0.9);
  cursor: pointer;
}
.calci-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calci{
  height: 400px;
  width: 290px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #FE9CCB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
  border: black;
  border-style: double;
  border-radius: 3%;
  box-shadow: 15px 15px #00000090;
}
.display{
  overflow: hidden;
  width: 228px;
  height: 84px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border:black;
  border-style: double;
  background-color: #CCEFFE;
  border-radius: 5px;
  box-shadow: 1px 1px rgb(176, 29, 53);
}
#operation{
  width: 222px;
  text-align: right;
  color: rgb(103, 15, 15);
  font-weight: 800;
  font-size: 40px;
  text-overflow: clip;
}
#result{
  width: 222px;
  height: 52px;
  text-align: right;
  color: rgb(103, 15, 15);
  font-weight: 800;
  font-size: 45px;
  text-overflow: clip;
}
.keys{
  width: 260px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}
#backspace{
  background-image: url(assets/bkspc-solid.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
}
footer{
    font-size: 13px;
    color: #3859ffc8;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    background-color: #CCEFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
  font-size: 13px;
  text-decoration: none;
  color: #3859ffc8;
}